<!doctype html>
<html>
	<head>
		<title>Support Us</title>
		<link rel="stylesheet" href="../static/supportus.css">
	</head>
	<body>
		<table>
			<tr>
				<td class="titlez"><a href="{{url_for('home')}}"><img src="../static/logo.png" style="position:absolute;top:5px;left:5px;height:95px;width:95px;"></a></td>


				<td class="titlez"><a href="{{url_for ('ourlocations')}}" style="text-decoration:none;color:rgba(255, 242, 144, 0.862);font-size:26px;font-family:cursive">Our Locations</a></td>
				<td class="titlez"><a href="{{url_for ('ourproducts')}}"style="text-decoration:none;color:rgba(255, 242, 144, 0.862);font-size:26px;font-family:cursive">Our Products</a></td>
				<td class="titlez"><a href="{{url_for ('supportus')}}"style="text-decoration:none;color:rgba(255, 242, 144, 0.862);font-size:26px;font-family:cursive">Support Us</a></td>
				<td class="titlez"><a id='amogus' href="{{url_for ('amogus')}}"style="text-decoration:none;font-size:26px;font-family:cursive">Amogus</a></td>
			</tr>
		</table>	
		<a href="{{url_for ('shoppingcart')}}"><img src="../static/cart.png" class="topright"></a>	
		<br>
		<br>
		<div class="bg_box">
		<p class = "hometext-title"><b>To our dearest customer:</b></p>
		<p class = "hometext">Thank you for your purchase(or just visiting our page). As a conglomerate producing affordable corn related products of high quality, it is impossible for us to achieve so far without your support!</p>
		<p class = "hometext">You can show your support by sponsoring us via the following ways</p>
		<br>
		<div>
		<p class = "hometext">1. Donate to our PayNow of UEN: cornhubzkhlwy92046</p>
		<p class = "hometext">2. Transfer funds to our bank account cornhubzkhlwy92046</p>
		<p class = "hometext">3. Follow us on <a href="https://www.facebook.com/CornHub-250590895841130/">Phasebook</a>, <a href="https://www.youtube.com/@cornhub9789">ViewTube</a> or contact us on <a href="https://apkpure.com/whatsup-messenger/com.wWhatsupMessenger_7627063/download/1534706191-APK">WhatsUp</a></p>
		<p class = "hometext">4. Make a purchase!</p>
		</div>
		<br>
		<p class = "hometext">We thank you for your support</p>
		<br>
		<p class = "hometext" id='kiahang's>CEO of Corn Hub, Kiahang</p>
		</div>